@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dosis:wght@200..800&family=Niconne&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header * {
    color: white;
}

nav {
    background-color: #00B4D8;
}

h1 {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    font-family: "Alfa Slab One", serif;
    font-size: 5rem;
}

#botonX {
    display: none;
}

#barras {
    display: none;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    overflow: hidden;
    line-height: 4rem;
    background-color: #0099B8;
    font-family: "Dosis", sans-serif;
    font-weight: 700;
}

.itemMenu {
    display: inline-block;
    width: 12rem;
    text-align: center;
}

.itemMenu:hover {
    background-color: #0077B6;
}

.itemMenu a {
    display: block;
    padding: 0 2.5rem;
    text-decoration: none;
    color: white;
}

.segundo-nivel {
    display: none;
    position: absolute;
    background-color: #005D8F;
}

.itemMenu:hover .segundo-nivel {
    display: block;
    width: inherit;
    /*transition: transform 0.5s;
    transition-timing-function: ease-out;*/
}

.subElemento {
    display: block;
}

.subElemento:hover {
    background-color: #004266;
}

.in {
    background: #373737;
}

@media (max-width: 850px) {
    header {
        height: 100vh;
        position: fixed;
        width: 0;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: #666666;
        overflow-x: hidden;
        transition: .5s;
    }

    header #botonX {
        display: block;
    }

    #barras {
        display: block;
        padding: 15px;
        background-color: #666666;
        color: white;
    }

    i,
    h1 {
        display: inline-block;
        font-size: 25px;
    }

    h1 {
        padding-left: 20px;
    }

    .container-menu {
        padding-left: 0;
    }

    .barra-nav {
        display: block;
    }

    header a {
        text-decoration: none;
        color: white;
        padding: 8px 8px 8px 15px;
        font-size: 20px;
        display: block;
        transition: .5s ease;
    }
}